form * {
  box-sizing: border-box;
}

.formWrapper {
  max-width: 800px;
  margin: 0 auto;
}

.formBox label {
  display: block;
  font-size: 20px;
  margin: 0 0 2vh 0;
}

.formBox input:not([type="radio"]),
select {
  display: block;
  width: 100%;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
}

.radioRow label,
input,
span {
  display: inline-block;
  margin: 0.25em;
}

.radioRow input {
  margin-right: 1em;
}
