$bgColor: rgba(255, 250, 255, .8);
$aColor: #333;

header {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    background-color: $bgColor;
    border: 2px solid rgba(255, 250, 255);
    box-shadow: #333;

    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 0;
        max-width: 2000px;
        margin: 0 auto;
    }

    li {
        flex-basis: 50%;
        text-transform: uppercase;
        padding: 1em 0 1em 0;
    }

    a {
        color: $aColor;
        text-decoration: none;
        font-size: 1.15em;
    }

    @media only screen and (min-width: 500px) {
        li {
            flex-basis: auto;
        }
    }
}