$bgColor: rgba(255, 250, 255, .8);
$aColor: #333;

header {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    background-color: $bgColor;
    border: 2px solid rgba(255, 250, 255);
    box-shadow: #333;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        padding: 0
    }

    li {
        text-transform: uppercase;
    }

    a {
        color: $aColor;
        text-decoration: none;
        font-size: 1.15em;
    }
}