$bgColor: rgba(255, 250, 255, 0.8);
$aColor: #333;

.mobileHeader {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  background-color: rgb(255, 250, 255);
  border: 2px solid rgba(255, 250, 255);
  box-shadow: #333;
  min-height: 53px;

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 100%;
  }

  button {
    float: right;
    margin-right: 8px;
    width: 50px;

    svg {
      padding-top: 4px;
    }
  }

  ul {
    list-style: none;
    text-align: center;
    padding: 0;
  }

  li {
    text-transform: uppercase;
    padding: 1em;
    border-bottom: 1px solid #ccc;
  }

  a {
    color: $aColor;
    text-decoration: none;
    font-size: 1.15em;
  }
}

.desktopHeader {
  position: fixed;
  z-index: 1000;
  width: 100vw;
  background-color: $bgColor;
  border: 2px solid rgba(255, 250, 255);
  box-shadow: #333;

  ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 0;
    max-width: 2000px;
    margin: 0 auto;
  }

  li {
    flex-basis: 50%;
    text-transform: uppercase;
    padding: 1em 0 1em 0;
  }

  a {
    color: $aColor;
    text-decoration: none;
    font-size: 1.15em;
  }

  @media only screen and (min-width: 500px) {
    li {
      flex-basis: auto;
    }
  }
}
